@font-face {
  font-family: "iconfont"; /* Project id 3364060 */
  src: url('iconfont.woff2?t=1651916001480') format('woff2'),
       url('iconfont.woff?t=1651916001480') format('woff'),
       url('iconfont.ttf?t=1651916001480') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao2:before {
  content: "\e65c";
}

.icon-jurassic_user:before {
  content: "\e6a5";
}

.icon-mima:before {
  content: "\e644";
}

.icon-youxiang:before {
  content: "\e908";
}

